.deps/
.libs/
.gdb_history
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/decomp
build-aux/install-sh
build-aux/libtool.m4
build-aux/ltmain.sh
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
build-aux/missing
config.force
config.h
config.h.in
config.status
configure
libtexpdf.la
*.o
*.lo
*.LO
libtool
stamp-h1
build/
.vscode/
config.log
tags
