.deps/
.libs/
.gdb_history
Makefile
aclocal.m4
autom4te.cache/
config.force
config.h
config.h.in
config.status
configure
libtexpdf.la
libtexpdf_la-agl.lo
libtexpdf_la-bmpimage.lo
libtexpdf_la-cff.lo
libtexpdf_la-cff_dict.lo
libtexpdf_la-cid.lo
libtexpdf_la-cidtype0.lo
libtexpdf_la-cidtype2.lo
libtexpdf_la-cmap.lo
libtexpdf_la-cmap_read.lo
libtexpdf_la-cmap_write.lo
libtexpdf_la-cs_type2.lo
libtexpdf_la-dpxcrypt.lo
libtexpdf_la-dpxfile.lo
libtexpdf_la-dpxutil.lo
libtexpdf_la-epdf.lo
libtexpdf_la-error.lo
libtexpdf_la-fontmap.lo
libtexpdf_la-jp2image.lo
libtexpdf_la-jpegimage.lo
libtexpdf_la-mem.lo
libtexpdf_la-mfileio.lo
libtexpdf_la-numbers.lo
libtexpdf_la-otl_conf.lo
libtexpdf_la-otl_opt.lo
libtexpdf_la-pdfcolor.lo
libtexpdf_la-pdfdev.lo
libtexpdf_la-pdfdoc.lo
libtexpdf_la-pdfdraw.lo
libtexpdf_la-pdfencoding.lo
libtexpdf_la-pdfencrypt.lo
libtexpdf_la-pdffont.lo
libtexpdf_la-pdfnames.lo
libtexpdf_la-pdfobj.lo
libtexpdf_la-pdfparse.lo
libtexpdf_la-pdfresource.lo
libtexpdf_la-pdfximage.lo
libtexpdf_la-pkfont.lo
libtexpdf_la-pngimage.lo
libtexpdf_la-pst.lo
libtexpdf_la-pst_obj.lo
libtexpdf_la-sfnt.lo
libtexpdf_la-subfont.lo
libtexpdf_la-t1_char.lo
libtexpdf_la-t1_load.lo
libtexpdf_la-tfm.lo
libtexpdf_la-truetype.lo
libtexpdf_la-tt_aux.lo
libtexpdf_la-tt_cmap.lo
libtexpdf_la-tt_glyf.lo
libtexpdf_la-tt_gsub.lo
libtexpdf_la-tt_post.lo
libtexpdf_la-tt_table.lo
libtexpdf_la-type0.lo
libtexpdf_la-type1.lo
libtexpdf_la-type1c.lo
libtexpdf_la-unicode.lo
libtool
stamp-h1
