.deps/
.libs/
.gdb_history
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ltmain.sh
m4/ltversion.m4
config.force
config.h
config.h.in
config.status
configure
libtexpdf.la
*.o
*.lo
*.LO
libtool
stamp-h1
build/
.vscode/
config.log
tags
